#### Sneakers

In [1]:
import requests
from bs4 import BeautifulSoup

url = 'https://search.musinsa.com/category/018002'

headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}
res = requests.get(url, headers=headers)
res.raise_for_status()

soup = BeautifulSoup(res.text, 'lxml')

sneakers_nums = soup.find_all('li', {'class':'li_box'})
sneakers_names = soup.find_all('p', {'class':'list_info'})
sneakers_prices = soup.find_all('p', {'class':'price'})
sneakers_comments = soup.find_all('span', {'class':'count'})


sneakers_num_list = []
sneakers_name_list = []
sneakers_ori_price_list = []
sneakers_sale_price_list = []
sneakers_comment_list = []

for i in range(10):
    sneakers_num = int(sneakers_nums[i]['data-no'])
    sneakers_name = sneakers_names[i].find('a', {'name':'goods_link'})['title']
    
    if sneakers_prices[i].find('del'):
        sneakers_ori_price = sneakers_prices[i].find('del').get_text()
        sneakers_sale_price = sneakers_prices[i].get_text().split()[1]
        sneakers_sale_price = int(sneakers_sale_price.replace(',', '')[:-1])
        
    else:
        sneakers_ori_price = sneakers_prices[i].get_text().strip()
        sneakers_sale_price = None
        
    sneakers_ori_price = int(sneakers_ori_price.replace(',', '')[:-1])
        
    sneakers_comment = int(sneakers_comments[i].get_text().strip().replace(',', ''))

    sneakers_num_list.append(sneakers_num)
    sneakers_name_list.append(sneakers_name)
    sneakers_ori_price_list.append(sneakers_ori_price)
    sneakers_sale_price_list.append(sneakers_sale_price)
    sneakers_comment_list.append(sneakers_comment)
    

import pandas as pd

sneakers = pd.DataFrame({'p_num':sneakers_num_list, 'p_name':sneakers_name_list, 'ori_price':sneakers_ori_price_list,
                         'sale_price':sneakers_sale_price_list, 'comments':sneakers_comment_list})
sneakers

,p_num,p_name,ori_price,sale_price,comments
0,104238,올드스쿨 - 블랙 / VN000D3HY281,69000,NaN,19419
1,104239,클래식 슬립온 - (체커보드) 블랙:화이트 / VN000EYEBWW1,59000,53900.0,17851
2,104241,스케이트 하이 - 블랙 / VN000D5IB8C1,79000,NaN,1748
3,311052,척테일러 올스타 블랙 옥스 M9166C,55000,NaN,21341
4,1608838,스타일 36 - 마쉬멜로우:레이싱 레드 / VN0A3DZ3OXS1,69000,NaN,4382
5,810034,척 70 클래식 블랙 162058C,95000,NaN,23819
6,577636,BW 독일군 스니커즈 - 화이트 / BZ0579,139000,NaN,18924
7,810033,[TV CF상품] 척 70 클래식 블랙 162050C,99000,NaN,16555
8,1057830,올드스쿨 - (Primary Check) 블랙:화이트 / VN0A38G1P0S1,69000,NaN,446
9,311051,척테일러 올스타 블랙 하이 M9160C,59000,NaN,10259

#### Sandals

In [2]:
import requests
from bs4 import BeautifulSoup

url = 'https://search.musinsa.com/category/005004'

headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}
res = requests.get(url, headers=headers)
res.raise_for_status()

soup = BeautifulSoup(res.text, 'lxml')

sandals_nums = soup.find_all('li', {'class':'li_box'})
sandals_names = soup.find_all('p', {'class':'list_info'})
sandals_prices = soup.find_all('p', {'class':'price'})
sandals_comments = soup.find_all('span', {'class':'count'})

sandals_num_list = []
sandals_name_list = []
sandals_ori_price_list = []
sandals_sale_price_list = []
sandals_comment_list = []

for i in range(10):
    sandals_num = int(sandals_nums[i]['data-no'])
    sandals_name = sandals_names[i].find('a', {'name':'goods_link'})['title']
    
    if sandals_prices[i].find('del'):
        sandals_ori_price = sandals_prices[i].find('del').get_text()
        sandals_sale_price = sandals_prices[i].get_text().split()[1]
        sandals_sale_price = int(sandals_sale_price.replace(',', '')[:-1])
        
    else:
        sandals_ori_price = sandals_prices[i].get_text().strip()
        sandals_sale_price = None
        
    sandals_ori_price = int(sandals_ori_price.replace(',', '')[:-1])
        
    sandals_comment = int(sandals_comments[i].get_text().strip().replace(',', ''))
    
    sandals_num_list.append(sandals_num)
    sandals_name_list.append(sandals_name)
    sandals_ori_price_list.append(sandals_ori_price)
    sandals_sale_price_list.append(sandals_sale_price)
    sandals_comment_list.append(sandals_comment)

    
import pandas as pd

sandals = pd.DataFrame({'p_num':sandals_num_list, 'p_name':sandals_name_list, 'ori_price':sandals_ori_price_list,
                         'sale_price':sandals_sale_price_list, 'comments':sandals_comment_list})
sandals

,p_num,p_name,ori_price,sale_price,comments
0,1419869,산토리니 샌들 레더 블랙 552,74000,59200.0,3475
1,1439911,컴포트 샌들 - 블랙 / EG6514,49000,29900.0,918
2,1419871,오피스 샌들 레더 블랙 549,74000,59200.0,712
3,791575,맨즈 허리케인 XLT2 / 1019234-BLK,79000,56900.0,3717
4,549841,그리폰 블랙 샌들 15695001,190000,135900.0,1851
5,1828166,그리폰 블랙 쿼드 샌들 / 25720001,210000,146900.0,211
6,1032775,WTRD4104 오스틴 스트랩샌들 매트블랙 [230~290MM],59900,47900.0,3110
7,791569,우먼즈 허리케인 XLT2 / 1019235-BLK,79000,61900.0,993
8,1992241,[슈펜X전황일] 콜라보 캠핑 리커버리 샌들 슬리퍼,19900,NaN,220
9,767850,331 브뤼셀 더블 스트랩 키높이 가죽 샌들 아쿠아블랙,56000,34700.0,3015

#### Slippers

In [3]:
import requests
from bs4 import BeautifulSoup

url = 'https://search.musinsa.com/category/005018'

headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}
res = requests.get(url, headers=headers)
res.raise_for_status()

soup = BeautifulSoup(res.text, 'lxml')


slippers_nums = soup.find_all('li', {'class':'li_box'})
slippers_names = soup.find_all('p', {'class':'list_info'})
slippers_prices = soup.find_all('p', {'class':'price'})
slippers_comments = soup.find_all('span', {'class':'count'})


slippers_num_list = []
slippers_name_list = []
slippers_ori_price_list = []
slippers_sale_price_list = []
slippers_comment_list = []

for i in range(10):
    slippers_num = int(slippers_nums[i]['data-no'])
    slippers_name = slippers_names[i].find('a', {'name':'goods_link'})['title']
    
    if slippers_prices[i].find('del'):
        slippers_ori_price = slippers_prices[i].find('del').get_text()
        slippers_sale_price = slippers_prices[i].get_text().split()[1]
        slippers_sale_price = int(slippers_sale_price.replace(',', '')[:-1])
        
    else:
        slippers_ori_price = slippers_prices[i].get_text().strip()
        slippers_sale_price = None
        
    slippers_ori_price = int(slippers_ori_price.replace(',', '')[:-1])
        
    slippers_comment = int(slippers_comments[i].get_text().strip().replace(',', ''))
    
    slippers_num_list.append(slippers_num)
    slippers_name_list.append(slippers_name)
    slippers_ori_price_list.append(slippers_ori_price)
    slippers_sale_price_list.append(slippers_sale_price)
    slippers_comment_list.append(slippers_comment)

    
import pandas as pd

slippers = pd.DataFrame({'p_num':slippers_num_list, 'p_name':slippers_name_list, 'ori_price':slippers_ori_price_list,
                         'sale_price':slippers_sale_price_list, 'comments':slippers_comment_list})
slippers

     p_num                         p_name  ori_price  sale_price  comments
0  1439527                제로비티 플립플랍 Black      38000         NaN      3231
1   324275              아리조나 에바 블랙 129421      59000     45700.0      9014
2   497858   알파바운스 슬라이드 - 블랙:화이트 / BA8775      59000     46900.0     20717
3   581861                    모 플립플랍 (블랙)      39000     33900.0      3174
4  1805093  [슈펜X비슬로우] 리커버리 플랍슈즈 AFDU79S03      19900     18905.0      1524
5  1339622   알파바운스 슬라이드 - 화이트:블랙 / FX1326      59000         NaN      6978
6   770006   NO.8 THE GOOD SHEPHERD_BROWN      99000     79200.0      3393
7  1334438            마일즈 블랙 슬리퍼 23523001     170000    126900.0      2210
8  1419860             오피스 슬라이드 레더 블랙 547      69000     55200.0      2094
9   501198            취리히 SFB 타우페 1009532     139000     97300.0      1930

#### Cross Bag

In [4]:
import requests
from bs4 import BeautifulSoup

url = 'https://search.musinsa.com/category/004002'

headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}
res = requests.get(url, headers=headers)
res.raise_for_status()

soup = BeautifulSoup(res.text, 'lxml')


cross_bag_nums = soup.find_all('li', {'class':'li_box'})
cross_bag_names = soup.find_all('p', {'class':'list_info'})
cross_bag_prices = soup.find_all('p', {'class':'price'})
cross_bag_comments = soup.find_all('span', {'class':'count'})


cross_bag_num_list = []
cross_bag_name_list = []
cross_bag_ori_price_list = []
cross_bag_sale_price_list = []
cross_bag_comment_list = []

for i in range(10):
    cross_bag_num = int(cross_bag_nums[i]['data-no'])
    cross_bag_name = cross_bag_names[i].find('a', {'name':'goods_link'})['title']
    
    if cross_bag_prices[i].find('del'):
        cross_bag_ori_price = cross_bag_prices[i].find('del').get_text()
        cross_bag_sale_price = cross_bag_prices[i].get_text().split()[1]
        cross_bag_sale_price = int(cross_bag_sale_price.replace(',', '')[:-1])
        
    else:
        cross_bag_ori_price = cross_bag_prices[i].get_text().strip()
        cross_bag_sale_price = None
        
    cross_bag_ori_price = int(cross_bag_ori_price.replace(',', '')[:-1])
        
    cross_bag_comment = int(cross_bag_comments[i].get_text().strip().replace(',', ''))
    
    cross_bag_num_list.append(cross_bag_num)
    cross_bag_name_list.append(cross_bag_name)
    cross_bag_ori_price_list.append(cross_bag_ori_price)
    cross_bag_sale_price_list.append(cross_bag_sale_price)
    cross_bag_comment_list.append(cross_bag_comment)


import pandas as pd

cross_bag = pd.DataFrame({'p_num':cross_bag_num_list, 'p_name':cross_bag_name_list, 'ori_price':cross_bag_ori_price_list,
                         'sale_price':cross_bag_sale_price_list, 'comments':cross_bag_comment_list})
cross_bag

,p_num,p_name,ori_price,sale_price,comments
0,1789507,아크 블랙 메신저백,79000,NaN,2576
1,1758217,버핑레더 유틸리티 플랩 미니 크로스백_Black,56000,46000.0,2231
2,1216585,메신저백7탄 - 블랙(2020),59000,29500.0,5535
3,1456515,멀티 스트랩 미니 백 [MATT BLACK],55000,49500.0,2703
4,342189,에센셜 메신져백 블랙,52000,39500.0,7223
5,538895,어센틱 로고 투웨이 백 블랙,25000,20000.0,10506
6,276256,COMPOUND MESSENGER BAG SERIES / 메신저백,98000,59000.0,11168
7,1564343,dual pocket messenger bag / black,119000,95200.0,633
8,938747,CORDURA AUTHENTIC LOGO SLING BAG BLACK,49000,29400.0,2322
9,1464700,LAMIS 라미스_미니크로스백 AY7ABM03,29000,NaN,1181

In [ ]:
!pip install sqlalchemy

### CREATE TABLE

In [6]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, user='root', passwd='rb3879181', db='best_ranking', charset='utf8')

cursor = db.cursor()

sql = """
CREATE TABLE sneakers (
    p_num INT NOT NULL,
    p_name VARCHAR(100) NOT NULL,
    ori_price INT,
    sale_price INT,
    comments INT,
    PRIMARY KEY(p_num)
);
"""

cursor.execute(sql)

db.commit()

In [8]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, user='root', passwd='rb3879181', db='best_ranking', charset='utf8')

cursor = db.cursor()

sql = """
CREATE TABLE sandals (
    p_num INT NOT NULL,
    p_name VARCHAR(100) NOT NULL,
    ori_price INT,
    sale_price INT,
    comments INT,
    PRIMARY KEY(p_num)
);
"""

cursor.execute(sql)

db.commit()

OperationalError: (1050, "Table 'sandals' already exists")

In [12]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, user='root', passwd='rb3879181', db='best_ranking', charset='utf8')

cursor = db.cursor()

sql = """
CREATE TABLE slippers (
    p_num INT NOT NULL,
    p_name VARCHAR(100) NOT NULL,
    ori_price INT,
    sale_price INT,
    comments INT,
    PRIMARY KEY(p_num)
);
"""

cursor.execute(sql)

db.commit()

OperationalError: (1050, "Table 'slippers' already exists")

In [11]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, user='root', passwd='rb3879181', db='best_ranking', charset='utf8')

cursor = db.cursor()

sql = """
CREATE TABLE cross_bag (
    p_num INT NOT NULL,
    p_name VARCHAR(100) NOT NULL,
    ori_price INT,
    sale_price INT,
    comments INT,
    PRIMARY KEY(p_num)
);
"""

cursor.execute(sql)

db.commbit()

OperationalError: (1050, "Table 'cross_bag' already exists")

### MySQL Connection

In [13]:
from sqlalchemy import create_engine

db_connection_str = 'mysql+pymysql://root:rb3879181@localhost/best_ranking'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

sneakers.to_sql(name='sneakers', con=db_connection, if_exists='append', index=False)
sandals.to_sql(name='sandals', con=db_connection, if_exists='append', index=False)
slippers.to_sql(name='slippers', con=db_connection, if_exists='append', index=False)
cross_bag.to_sql(name='cross_bag', con=db_connection, if_exists='append', index=False)